.app{
    display: flex;
    height: 100vh;
    width:100%;
}

.input{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
}
.textarea{
    height:100%;
    width:100%;
    border:2px solid white;
    font-size: 25px;
}

.preview{
    width: 50%;
    height: 100%;
    background-color: beige;
}